#news {
    @include box( $ywl);

    .news-title {
        p {
            @include sub-title(#000);
        }

        h1 {
            @include title(#000);
        }
    }

    .news-title-bt {
        font-size: 1.5rem;
        margin-bottom: 60px;
        letter-spacing: 5px;

        @include tb {
            font-size: 1rem;
            margin-bottom: 50px;
        }

        @include tb {
            font-size: 0.5rem;
            margin-bottom: 40px;
        }

    }

    .news-big-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .news-box {
            display: inline-block;
            width: 45%;
            height: auto;   
            margin-bottom: 60px;
            box-shadow: 7git px 4px 7px 0px rgba(0, 0, 0, 0.3);
            -webkit-transition: all .3s;
            transition: all .3s;
            // position: relative;

            &:hover {
                -webkit-transform: translateY(-10px);
                -ms-transform: translateY(-10px);
                transform: translateY(-10px);
            }

            @include sp {
                margin-bottom: 30px;
            }

            img {
                width: 100%;
                height: 100%;
                // position: absolute;
                // top: 0;
                // left: 0;
                vertical-align:bottom;
                display: inline-block;
            }
        } 
    }
}
