#news {
    @include box( $ywl);

    .news-title {
        p {
            @include sub-title(#000);
        }

        h1 {
            @include title(#000);
        }
    }

    .news-big-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .news-box {
            width: 45%;
            margin-bottom: 60px;
            
            img {
                width: 100%;
                vertical-align:bottom;
                display: inline-block;
            }

            // .news-box-mini {
            // }
        } 
    }
}
